body {
  font-family: Arial;
  background: #f8f8f8;
}

form {
  max-width: 400px;
  margin: auto;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
}

/* popup */
#popup {
  position: fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.6);
  display:none;
  justify-content:center;
  align-items:center;
}

#popup.show {
  display:flex;
}

.popup-content {
  background:white;
  padding:20px;
  border-radius:10px;
  text-align:center;
}

/* mobile */
@media(max-width:600px){
  h1 { font-size:22px; }
}
